<!DOCTYPE html> {%extends "base.html" %} {%block content%} {{ super() }}
<h1>Checkout My GitHub For More Info</h1>
<a class="btn btn-outline-info" href="https://github.com/dgervais19">Donovan's GitHub</a>
<h1>Professional Profile</h1>
<p>Having completed my final year of studies, I am currently looking for an internship or graduate job to gain more experience within my field of studies. I am a confident and hard-working person who works effectively in both quiet and busy environments.
    I enjoy working collaboratively as part of a team as well as independently. My oral and written communication skills are good and my interpersonal skills enables me to work successfully with people from a variety of backgrounds. I am also quick at
    learning new skills and methods. </p>
<hr>
<h2>Why DevOps?</h2>
<p>
    Coming from a background full of technology, my interest for coding and other computing techniques grew. It lead me to studying computer science at University where I completed my undergraduate degree and managed to develop a web based invoicing app for
    my final year project. As I was researching more about the computing industry, I came across Sparta Global and applied for software development. At the assessment day, I saw one of my university friends who was, then, training to be a DevOps consultant
    at Sparta. With his explanation on what DevOps is and also Sparta's presentation which explained the concepts of DevOps, I decided that this would be the best option for me especially as I am looking to develop my final year project further. It lead
    me to believe that DevOps would show me the main principles on how to develop and deploy software etc. Also, I work very well within a team which is great for DevOps as it is relatively a team oriented field to be in.</p>
<h3>Education History</h3>
<dl>
    <dt>University of Hertfordshire</dt>
    <dd>- Python</dd>
    <dd>- Software Quality</dd>
    <dd>- Programming C Family</dd>
    <dd>- Concurrency</dd>
    <dd>- Mobile Computing</dd>
    <dt>St Dunstan's College</dt>
    <dd>English Literature</dd>
    <dd>Mathematics</dd>
    <dd>P.E.</dd>
    <dd>Physics</dd>
    <dd>Biology</dd>
    <dd>Spanish</dd>
    <dd>History</dd>
</dl>
{% endblock %}